@using OmniTalks.Models.ChatViewModels
@using OmniTalks.Models.PostViewModel


<header class="header-section header-menu">
	<nav class="navbar navbar-expand-lg p-0">
		<div class="container">
			<nav class="navbar w-100 navbar-expand-lg justify-content-betweenm">
				<a asp-action="Index" asp-controller="Home" class="navbar-brand">
					<img src="~/images/logo.png" class="logo" alt="logo" width="50" height="50">
				</a>
				<ul class="navbar-nav feed flex-row gap-xl-20 gap-lg-10 gap-sm-7 gap-1 py-4 py-lg-0 m-lg-auto ms-auto ms-aut align-self-center">
				</ul>
				<div class="right-area position-relative d-flex gap-3 gap-xxl-6 align-items-center">
					@if (this?.User?.Identity?.IsAuthenticated ?? false)
					{
						<div class="single-item d-block messages-area">
							<div class="messages-btn cmn-head">
								<div class="icon-area d-center position-relative">
									<i class="material-symbols-outlined mat-icon">mail</i>
								</div>
							</div>
							<div class="main-area p-5 messages-content">
								@{
									var chatMessages = ViewData["HeaderChatsMessages"] as List<HeaderChatViewModel>;
								}
								<h5 class="mb-8">Messages</h5>
								@foreach (var item in chatMessages)
								{

									<div class="single-box p-0 mb-7">
										<a href="@($"/Chat/ShowChat/{item.UserId}")" class="d-flex gap-2 align-items-center">
											<div class="avatar">
												<img width="48" class="avatar-img max-un" src="@item.ProfileImgUrl" alt="avatar">
											</div>
											<div class="text-area">
												<div class="title-area position-relative d-inline-flex align-items-center">
													<h6 class="m-0 d-inline-flex">@item.Name</h6>
												</div>
												<p class="mdtxt sms">@item.LastText</p>
											</div>
										</a>
									</div>
								}
							</div>
						</div>
					}
					<div class="single-item d-block profile-area position-relative">
						@if (this?.User?.Identity?.IsAuthenticated ?? false)
						{
							<div class="profile-pic d-flex align-items-center">
								<span class="avatar cmn-head active-status">
									<img class="avatar-img max-un" src=@ViewData["UserProfilePhoto"] alt="avatar" width="48">
								</span>
							</div>
						}
						else
						{
							<div class="profile-pic d-flex align-items-center">
								<span class="avatar cmn-head active-status">
									<img class="avatar-img max-un" src=\images\avatar-7.png alt="avatar">
								</span>
							</div>
						}
						<div class="main-area p-5 profile-content">
							@if (this?.User?.Identity?.IsAuthenticated ?? false)
							{
								<div class="head-area">
									<div class="d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src=@ViewData["UserProfilePhoto"] alt="avatar" width="48">
										</div>
										<div class="text-area">
											<h6 class="m-0 mb-1">@(this.User?.Identity?.Name ?? "Guest")</h6>
										</div>
									</div>
								</div>
							}
							else
							{
								<div class="head-area">
									<div class="d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src=\images\avatar-7.png alt="avatar">
										</div>
										<div class="text-area">
											<h6 class="m-0 mb-1">@(this.User?.Identity?.Name ?? "Guest")</h6>
										</div>
									</div>
								</div>
							}
							@if (this?.User?.Identity?.IsAuthenticated ?? false)
							{


								<div class="view-profile my-2">
									<a href="/User/OtherProfile/" class="mdtxt w-100 text-center py-2">View profile</a>
								</div>
								<ul>
									<li>
										<a asp-controller="User" asp-action="Logout" class="mdtxt">
											<i class="material-symbols-outlined mat-icon"> power_settings_new </i>
											Sign Out
										</a>
									</li>
								</ul>
							}
							else
							{
								<ul>
									<li>
										<a asp-controller="User" asp-action="Register" class="mdtxt">
											Register
										</a>
									</li>
									<li>
										<a asp-controller="User" asp-action="Login" class="mdtxt">
											Log in
										</a>
									</li>
								</ul>
							}
							<div class="switch-wrapper mt-4 d-flex gap-1 align-items-center">
								<i class="mat-icon material-symbols-outlined sun icon"> light_mode </i>
								<label class="switch">
									<input type="checkbox" class="checkbox">
									<span class="slider"></span>
								</label>
								<i class="mat-icon material-symbols-outlined moon icon"> dark_mode </i>
								<span class="mdtxt ms-2">Dark mode</span>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</nav>
</header>
