@using OmniTalks.Models.PostViewModel
@using OmniTalks.Models.CommentViewModels
@model ICollection<PostViewModel>
<div class="post-item d-flex flex-column gap-5 gap-md-7" id="news-feed">
	@foreach (var item in Model)
	{
		<div class="post-single-box p-3 p-sm-5">
			<div class="top-area pb-5">
				<div class="profile-area d-center justify-content-between">
					<div class="avatar-item d-flex gap-3 align-items-center">
						<div class="avatar position-relative">
							<img src=@Url.Content(item.UserPhotoUrl.ToString()) class="avatar-img max-un " alt="avatar" width="48">
						</div>
						<div class="info-area">
							<h6 class="m-0"><a href="@($"User/OtherProfile/{item.UserId}")">@item.UserName</a></h6>
							<span class="mdtxt status">@item.Category.Name</span>
						</div>
					</div>
					<div class="btn-group cus-dropdown">
						<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
						</button>
						<ul class="dropdown-menu p-4 pt-2">
							@* <li>
								<a class="droplist d-flex align-items-center gap-2" href="#">
									<i class="material-symbols-outlined mat-icon"> person_remove </i>
									<span>Unfollow</span>
								</a>
							</li> *@
							<li>
								@{
									PostViewModel postVM = new PostViewModel();
									postVM.Id = item.Id;
								}
								<partial name="_RemovePostForm" model="postVM" />
							</li>
							<li>
								<a class="droplist d-flex align-items-center gap-2" asp-controller="Post" asp-action="Edit">
									<a href="@($"Post/Edit/{item.Id}")">Edit Post</a>
								</a>


							</li>
						</ul>
					</div>
				</div>
				<div class="py-4">
					<p class="description">@item.Content</p>
				</div>
				@* <div class="post-img">
			<img src="/images/post-img-1.png" class="w-100" alt="image">
			</div> *@
			</div>
			<div class="total-react-share pb-4 d-center gap-2 flex-wrap justify-content-between">
				<div class="react-list d-flex flex-wrap gap-6 align-items-center text-center">
					<button class="mdtxt">@item.Comments.Count Comments</button>
					<button class="mdtxt">@item.LikesCount Likes </button>
				</div>
			</div>
			<div class="like-comment-share py-5 d-center flex-wrap gap-3 gap-md-0 justify-content-between">
				@{
					PostLikeViewModel addLikeVM = new PostLikeViewModel();
					addLikeVM.PostId = item.Id;
				}
				<partial name="_AddLikeForm" model="addLikeVM">

					<div class="mdtxt color-grey">
						@item.CreatedDate
					</div>
			</div>
			@{
				AddCommentViewModel addCommentViewModel = new AddCommentViewModel();
				addCommentViewModel.PostId = item.Id;
				addCommentViewModel.ImgUrl = ViewBag.ProfilePhoto;
			}
			<partial name="_AddComment" model="addCommentViewModel">

				<partial name="_ShowComments" model="item.Comments">
		</div>
	}
</div>
