@using OmniTalks.Models.PostViewModel
@using OmniTalks.Models.UserViewModels
@model FollowerViewModel
<button class="scrollToTop d-none d-lg-block"><i class="mat-icon fas fa-angle-double-up"></i></button>

<main class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="banner-area pages-create mb-5">
					<div class="single-box p-5">
						<div class="avatar-area">
							<img class="avatar-img w-100" src="/images/profile-cover-img.png" alt="image">
						</div>
						<div class="top-area py-4 d-center flex-wrap gap-3 justify-content-between align-items-start">
							<div class="d-flex gap-3 align-items-center">
								<div class="avatar-item p">
									<img class="avatar-img max-un" src=@Url.Content(Model.User.ProfilePhotoUrl.ToString()) alt="avatar" width="200">
								</div>
								<div class="text-area text-start">
									<h5 class="m-0 mb-1">@Model.User.UserName</h5>
									<div class="friends-list d-flex flex-wrap gap-2 align-items-center text-center">
										<ul class="d-flex align-items-center justify-content-center">
											<li><img src="/images/avatar-3.png" alt="image"></li>
											<li><img src="/images/avatar-2.png" alt="image"></li>
											<li><img src="/images/avatar-4.png" alt="image"></li>
										</ul>
										<span class="mdtxt d-center">@Model.Followers.Count Followers</span>
										<span class="mdtxt d-center following">@Model.Following.Count Following</span>
									</div>
								</div>
							</div>
							<div class="btn-item d-center gap-3">
								@if ((this.User?.Identity?.IsAuthenticated ?? false) && Model.FollowerId != Model.UserId)
								{
									<form asp-controller="Follow" asp-action="Follow" method="post">
										<input type="hidden" asp-for="@Model.IsFollowing" />
										@if (!Model.IsFollowing)
										{
											<button class="cmn-btn d-center gap-1">
												<i class="material-symbols-outlined mat-icon fs-4"> person_add </i>
												Follow
											</button>
											<a href="@($"/Chat/ShowChat/{Model.UserId}")" class="cmn-btn d-center gap-1">
												<input type="hidden" asp-for="@Model.UserId" />
												<i class="material-symbols-outlined mat-icon fs-4"> send </i>
												Message
											</a>
										}
										else if (Model.IsFollowing)
										{
											<button class="cmn-btn d-center gap-1">
												<i class="material-symbols-outlined mat-icon fs-4"> person_remove </i>
												Unfollow
											</button>
											<a href="@($"/Chat/ShowChat/{Model.UserId}")" class="cmn-btn d-center gap-1">
												<input type="hidden" asp-for="@Model.UserId" />
												<i class="material-symbols-outlined mat-icon fs-4"> send </i>
												Message
											</a>
										}
									</form>
								}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-xxl-12 col-xl-12 col-lg-12">
				<div class="sidebar-wrapper d-flex al-item justify-content-end justify-content-xl-center flex-column flex-md-row flex-xl-column flex gap-6">
					<div class="sidebar-area p-5">

						<div class="mb-4">
							<h6 class="d-inline-flex">
								Following
							</h6>
						</div>
						@foreach (var following in Model.Following)
						{
							<div class="d-flex flex-column gap-6 mb-3">
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src=@Url.Content(following.Followed.ProfilePhоtoUrl.ToString()) alt="avatar" width="48">
										</div>
										<div class="info-area">
											<h6 class="m-0">
												<a href=@($"/User/OtherProfile/{following.FollowedId}") class="mdtxt">
													@following.Followed.UserName
												</a>
											</h6>
										</div>
									</div>
									<a class="droplist d-flex align-items-center gap-2" href=@($"/Chat/ShowChat/{following.FollowerId}")>
										<i class="material-symbols-outlined mat-icon">mail</i>
										<span></span>
									</a>
								</div>
							</div>
						}
					</div>
					<div class="sidebar-area p-5">
						<div class="mb-4">
							<h6 class="d-inline-flex">
								Followers
							</h6>
						</div>
						@foreach (var follower in Model.Followers)
						{
							<div class="d-flex flex-column gap-6 mb-3">
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src=@Url.Content(follower.Follower.ProfilePhоtoUrl.ToString()) alt="avatar" width="48">
										</div>
										<div class="info-area">
											<h6 class="m-0">
												<a href=@($"/User/OtherProfile/{follower.FollowerId}") class="mdtxt">
													@follower.Follower.UserName
												</a>
											</h6>
										</div>
									</div>
									<a class="droplist d-flex align-items-center gap-2" href=@($"/Chat/ShowChat/{follower.FollowerId}")>
										<i class="material-symbols-outlined mat-icon">mail</i>
										<span></span>
									</a>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- Main Content end -->
<!-- Go Live Popup start -->
<div class="go-live-popup">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="modal cmn-modal fade" id="goLiveMod">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content p-5">
							<div class="modal-header justify-content-center">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
									<i class="material-symbols-outlined mat-icon xxltxt"> close </i>
								</button>
							</div>
							<div class="top-content pb-5">
								<h5>Go Live</h5>
							</div>
							<div class="mid-area">
								<div class="d-flex mb-5 gap-3">
									<div class="profile-box">
										<a href="#"><img src="/images/add-post-avatar.png" class="max-un" alt="icon"></a>
									</div>
									<textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
								</div>
								<div class="file-upload">
									<label>Upload attachment</label>
									<label class="file mt-1">
										<input type="file">
										<span class="file-custom pt-8 pb-8 d-grid text-center">
											<i class="material-symbols-outlined mat-icon"> perm_media </i>
											<span>Drag here or click to upload photo.</span>
										</span>
									</label>
								</div>
							</div>
							<div class="footer-area pt-5">
								<div class="btn-area d-flex justify-content-end gap-2">
									<button type="button" class="cmn-btn alt" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
									<button class="cmn-btn">Go Live</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Go Live Popup end -->
<!-- video popup start -->
<div class="go-live-popup video-popup">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="modal cmn-modal fade" id="photoVideoMod">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content p-5">
							<div class="modal-header justify-content-center">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
									<i class="material-symbols-outlined mat-icon xxltxt"> close </i>
								</button>
							</div>
							<div class="top-content pb-5">
								<h5>Add post photo/video</h5>
							</div>
							<div class="mid-area">
								<div class="d-flex mb-5 gap-3">
									<div class="profile-box">
										<a href="#"><img src="/images/add-post-avatar.png" class="max-un" alt="icon"></a>
									</div>
									<textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
								</div>
								<div class="file-upload">
									<label>Upload attachment</label>
									<label class="file mt-1">
										<input type="file">
										<span class="file-custom pt-8 pb-8 d-grid text-center">
											<i class="material-symbols-outlined mat-icon"> perm_media </i>
											<span>Drag here or click to upload photo.</span>
										</span>
									</label>
								</div>
							</div>
							<div class="footer-area pt-5">
								<div class="btn-area d-flex justify-content-end gap-2">
									<button type="button" class="cmn-btn alt" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
									<button class="cmn-btn">Post</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- video popup end -->
<!-- Go Live Popup start -->
<div class="go-live-popup">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="modal cmn-modal fade" id="activityMod">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content p-5">
							<div class="modal-header justify-content-center">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
									<i class="material-symbols-outlined mat-icon xxltxt"> close </i>
								</button>
							</div>
							<div class="top-content pb-5">
								<h5>Create post</h5>
							</div>
							<div class="mid-area">
								<div class="d-flex mb-5 gap-3">
									<div class="profile-box">
										<a href="#"><img src="/images/add-post-avatar.png" class="max-un" alt="icon"></a>
									</div>
									<textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
								</div>
								<div class="file-upload">
									<label>Upload attachment</label>
									<label class="file mt-1">
										<input type="file">
										<span class="file-custom pt-8 pb-8 d-grid text-center">
											<i class="material-symbols-outlined mat-icon"> perm_media </i>
											<span>Drag here or click to upload photo.</span>
										</span>
									</label>
								</div>
								<div class="tooltips-area d-flex mt-3 gap-2">
									<button type="button" class="btn d-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Fallings/Activity">
										<i class="material-symbols-outlined mat-icon"> mood </i>
									</button>
									<button type="button" class="btn d-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Video">
										<i class="material-symbols-outlined mat-icon"> movie </i>
									</button>
									<button type="button" class="btn d-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Maps">
										<i class="material-symbols-outlined mat-icon"> location_on </i>
									</button>
									<button type="button" class="btn d-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tag">
										<i class="material-symbols-outlined mat-icon"> sell </i>
									</button>
								</div>
							</div>
							<div class="footer-area d-flex justify-content-between pt-5">
								<div class="left-area">
									<select>
										<option value="1">Public</option>
										<option value="2">Only Me</option>
										<option value="3">Friends</option>
										<option value="4">Custom</option>
									</select>
								</div>
								<div class="btn-area d-flex justify-content-end gap-2">
									<button type="button" class="cmn-btn alt" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
									<button class="cmn-btn">Post</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
